{% extends "base.html" %} {% block content %}
<div class="row">
  <div class="col-6 mx-auto">
    <h1>{{ title }}</h1>
    <p>This is a home page.</p>
    <h4>Template Context Processors</h4>
    <li>User name {{ user }}</li>
    <li>Authenticate user {{ user.is_authenticated }}</li>
    <li>Request user {{ request.user }}</li>
    <li>Request Path {{ request.path }}</li>

    {% if user.is_authenticated %}
    <h5>User Data with built in template tag and filters</h5>
    {% for a in user_list %}
    <li>{{ a }}</li>
    {% endfor %} {% endif %}
  </div>
</div>
{% endblock %}
